.Button {
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    margin: 10px;
    font-family: 'Red Hat Display';
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid rgb(177, 126, 135);
}