.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(78deg, var(--primary), var(--accent2) 48%, var(--primary));
  color: var(--accent1);
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  font-family: var(--header-font);
}

p {
  text-align: center;
  font-size: 14px;
}

.img {
  margin: 20px auto;
  width: 64px;
}

.button-form-container,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Red Hat Display";
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  width: 200px;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: aliceblue;
}

button, .login-btn, .loginfail-btn, .submit-btn {
  border: none;
  background-color: var(--accent2);
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bold;
}

.login-btn,
.loginfail-btn,
.submit-btn {
  background-color: var(--accent1);
}
.login-btn:hover,
.loginfail-btn:hover,
.submit-btn:hover {
  background-color: var(--accent2);
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(0.1px);
  box-shadow: 1px 1px 8px var(--accent2);
  padding: 20px;
  border-radius: 20px;
}

div.auth-form-container {
  width: 500px;
}

.shared-btn {
  margin: 20px auto;
  max-width: 200px;
}
