/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Red+Hat+Display&display=swap');

:root {
  --primary: rgb(224, 224, 226);
  --secondary: rgb(65, 103, 136);
  --accent1: rgb(115, 137, 174);
  --accent2: rgb(181, 186, 208);
  --text-font: "Red Hat Display";
  --header-font: "Gasoek One";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

